html{
    height: 100%;
}
body{
    height: 100%;
    padding: 0;
    margin: 0;
    background: #F5F5F5;
    font-size: 12px;
    color: #666;
    /*font-family: system, -apple-system, ".SFNSDisplay-Regular", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    line-height: 1.45;
    text-align: center;
}
#wrapper{
    display: table;
    height: 100%;
    width: 100%;
}
section{
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0 20px;
}
section h1{
    margin-bottom: 30px;
    font-size: 65px;
    /*font-weight: bold;*/
    line-height: 1;
}

h1#countdown {
    font-size: 30px;
}
section p{
    font-size: 14px;
    line-height: 1.78
}

section li {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    height: 30px;
    margin: 3px;
    padding: 0 10px;
    line-height: 30px;
    background: #fff;
}

section li a {
    color: #34ae81;
    text-decoration: none;
    font-size: 14px;
}

.more {
    padding-top: 20px;
    font-size: 12px;
    color: #bbb;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    color: #ccc;
}
a {
    color: #34ae81;
}